<p><em>Advent of Code</em> (o Advenimiento de Código) es un calendario de advenimiento de pequeños desafíos de programación que pueden ser resueltos en cualquier lenguaje de programación. Cada día y hasta el 25 de diciembre se publican 2 desafíos por <a href="https://adventofcode.com/" target="_blank" rel="noreferrer noopener">https://adventofcode.com/</a>.</p>

<p>Este año he decidido participar y publicar las soluciones a cada desafío con explicaciones a fondo en mi blog.</p>

<p>Puedes ver todos los desafíos resueltos hasta el momento:</p>

<ul>
  <li>
    <a href="../aoc-1-report-pair">Día 1: Report Repair</a>
  </li>
  <li>
    <a href="../aoc-2-password-philosophy">Día 2: Password Philosophy</a>
  </li>
  <li>
    <a href="../aoc-3-toboggan-trajectory">Día 3: Toboggan Trajectory</a>
  </li>
</ul>

<h3>{{ title | slice: 4, title.length }}</h3>

<p class="disclaimer" style="margin-top: 1rem;">Puedes encontrar el enunciado completo del problema <a href="https://adventofcode.com/2020/day/{{ aoc_day }}" target="_blank" rel="noopener noreferrer">aquí</a>.</p>