<header class="navigation">
    <nav>
        <span class="navigation__link{%- if page.url == '/' %} navigation__link--active{% endif -%}">
            <a class="navigation__anchor" href="/">Sobre mi</a>
        </span>
        <span class="navigation__link{%- if page.url == '/posts/' %} navigation__link--active{% endif -%}">
            <a class="navigation__anchor" href="/posts">Blog</a>
        </span>
        <span class="navigation__link{%- if page.url == '/supporters/' %} navigation__link--active{% endif -%}">
            <a class="navigation__anchor" href="/supporters">Apóyame</a>
        </span>
    </nav>
</header>
