@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,600);

* {
  box-sizing: border-box;
}

html, body {
  font: 100%/1.45 'Work Sans', 'sans';
}

body {
  background-color: #09062e;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}

/* Generic */

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 16px;
}

/* Avatar */

.avatar {
  margin-top: 64px;
  margin-bottom: 32px;
  text-align: center;
}

.avatar__wrapper {
  width: 172px;
  height: 172px;
  margin: 0 auto;

  background: linear-gradient(-45deg,#2300ff,#ff00ff);
  border-radius: 50%;
  border: 4px solid #fff;
  
  overflow: hidden;
}

.avatar__image {
  width: 100%;
  display: block;
}

/* About me */

.hello {
  max-width: 392px;
  margin: auto;
  padding: 16px;

  position: relative;
  
  background-color: #fff;
  border-radius: 16px;
  box-shadow:
  0 8px 32px -8px #ff00ff,
  0 -8px 32px -8px #2300ff;
  color: #09062e;
}

.hello::before,
.hello::after {
  content: "";
  display: block;
  position: absolute;
  top: -16px;
  border: 8px solid #fff;  
  border-top-color: transparent;
  left: 50%;
}

.hello::before {
  border-left-color: transparent;
  transform: translateX(-100%);
}

.hello::after {
  border-right-color: transparent;
}

.hello__title {
  margin-bottom: 16px;

  color: #ff00ff;
  font-size: 24px;
  font-weight: 600;

  z-index: 0;
}

.hello__text + .hello__text {
  margin-top: 16px;
}

.social {
  margin: 0 -16px;
  margin-top: 8px;
  padding: 0 4px;
}

.social__link {
  display: block;
  padding: 12px;

  color: #444;
  text-decoration: none;

  transition: all 195ms cubic-bezier(0.23, 1, 0.320, 1);
}

.social__link:hover {
  background-color: #faf0f7;
}

.social__name {
  color: #2300ff;
}

.social__about {
  font-size: 14px;
}

/* Jobs */
.experience {
  margin: 128px 0;
}

.experience__when {
  display: inline-block;
  position: relative;
  margin: 32px 0;

  color: #f0f;
  font-size: 24px;
  font-weight: 600;
  text-rendering: optimizeLegibility;
  z-index: 0;
}

.experience__when::before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.5em;
  width: 66.6666%;
  height: 0.8em;

  background-color: #2300ff;
  z-index: -1;
}

.experience__body {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 24px;

  background-color: #fff;
  border-radius: 16px;
  z-index: 0;
}

.experience__image {
  display: block;
  width: 96px;
}

.experience__content {
  margin-left: 32px;
  max-width: 540px;
}

.experience__title {
  font-size: 24px;
  margin-bottom: 16px;
}

/* Footer */
.footer {
  padding: 16px 0;

  color: #fff;
  font-size: 13px;
  text-align: right;
}

@media (max-width: 575.98px) {
  .experience__body {
    flex-direction: column;
    align-items: flex-start;
  }

  .experience__content {
    margin-top: 32px;
    margin-left: 0;
  }
}