---
layout: layout.liquid
language: es
description: Mi nombre es Osman Cea y soy un desarrollador frontend y diseñador web establecido en Santiago, Chile.
---

<section id="about-me">
  <figure class="avatar">
    <div class="avatar__wrapper">
      <img
        class="avatar__image"
        alt="Osman Cea"
        src="/assets/img/me.jpeg"
      />
    </div>
  </figure>

  <div class="hello">
    <h2 class="hello__title">¡Hola!👋</h2>
    <h1 class="hello__text">Mi nombre es Osman Cea (<em>aka</em> Daslaf) y soy un ingeniero de software y desarrollador frontend establecido en Santiago, Chile.</h1>
    <p class="hello__text">Me encanta la música pretenciosa, JavaScript, el software libre y abierto y el aprendizaje continuo.</p>

    <p class="hello__text">Puedes encontrarme en:</p>

    {% include social %}
  </div>
</section>
